* {
    box-sizing: border-box;
    max-width: 100%;
}

.header {
    display: flex;
    height: 44px;
    justify-content: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(1.8) blur(20px)
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 996px;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}

.image-container {
    height: 730px;
    background-image: url("/Images/Pictures/gift_large.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 12px;
}


.headline {
    font-size: 56px;
    font-weight: 450;
    height: 120px;
    width: 595px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    margin-top: 28px;
    text-align: center;
}

.subhead {
    margin-top: 15px;
    font-weight: 400;
    height: 32px;
    text-align: center;
    font-size: 28px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.button1 {
    background-color: rgb(0, 113, 227);
    border: none;
    font-size: 17px;
    color: white;
    text-align: center;
    height: 44px;
    width: 122px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button1:hover {
    opacity: 0.9;
}

.iphonepro-image-container {
    height: 730px;
    background-image: url("/Images/Pictures/iphone_large.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 12px;
}

.headline2-3 {
    font-size: 56px;
    font-weight: 450;
    width: 595px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    margin-top: 28px;
    text-align: center;
    color: white;
}

.subhead2-3 {
    margin-top: 20px;
    font-weight: 400;
    height: 32px;
    text-align: center;
    font-size: 28px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.button2 {
    background-color: rgb(0, 113, 227);
    border: none;
    font-size: 17px;
    color: white;
    text-align: center;
    height: 44px;
    width: 131px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-right: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button2:hover {
    opacity: 0.9;
}

.button3 {
    border: none;
    font-size: 17px;
    color: rgb(0, 113, 227);
    text-align: center;
    height: 44px;
    width: 73px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-left: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button3:hover {
    background-color: rgb(0, 113, 227);
    color: white;
}

.button2-3 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.iphone-image-container {
    height: 730px;
    background-image: url("/Images/Pictures/blue-iphone_large.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 12px;
}

.button4-5 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button4 {
    background-color: white;
    border: none;
    font-size: 17px;
    color: black;
    text-align: center;
    height: 44px;
    width: 131px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-right: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button4:hover {
    opacity: 0.9;
}

.button5 {
    border: none;
    font-size: 17px;
    color: white;
    text-align: center;
    height: 44px;
    width: 73px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-left: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button5:hover {
    background-color: white;
    color: black;
}


.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 580px 580px 580px;
    gap: 12px;
    padding: 0 24px;
    padding-left: 12px;
    padding-bottom: 12px;
}

.iPad-container {
    background-image: url(/Images/Pictures/iPad_large.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.iPad-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.iPad-logo img {
    height: 33px;
}

.iPad-subhead {
    font-size: 21px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 11px;
    text-align: center;
}

.iPad-buttons {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.iPad-button1 {
    background-color: rgb(0, 113, 227);
    border: none;
    font-size: 14px;
    color: white;
    text-align: center;
    height: 36px;
    width: 104px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-right: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.iPad-button1:hover {
    opacity: 0.9;
}

.iPad-button2 {
    border: none;
    font-size: 14px;
    color: rgb(0, 113, 227);
    text-align: center;
    height: 36px;
    width: 62px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-left: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.iPad-button2:hover {
    background-color: rgb(0, 113, 227);
    color: white;
}

.iPad-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.iPad_bottom-content {
    font-size: 14px;
    margin-bottom: 50px;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(94deg, rgb(0, 144, 247), rgb(186, 98, 252), rgb(242, 65, 107), rgb(245, 86, 0));
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 16px;
}


.AirPods-container {
    background-image: url(/Images/Pictures/AirPods_large.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: end;
    padding-bottom: 50px;
}

.AirPods-headline {
    color: white;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
}

.AirPods-subhead {
    font-size: 21px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 11px;
    text-align: center;
    color: white;
}

.AirPod-buttons {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.AirPod-button1 {
    background-color: rgb(0, 113, 227);
    border: none;
    font-size: 14px;
    color: white;
    text-align: center;
    height: 36px;
    width: 104px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-right: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.AirPod-button1:hover {
    opacity: 0.9;
}

.AirPod-button2 {
    border: none;
    font-size: 14px;
    color: rgb(0, 113, 227);
    text-align: center;
    height: 36px;
    width: 62px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-left: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.AirPod-button2:hover {
    background-color: rgb(0, 113, 227);
    color: white;
}

.AirPod-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.Watch-container {
    background-image: url(/Images/Pictures/Watch_large.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: start;
    flex-direction: column;
    align-items: center;
}

.Watch-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.Watch-logo img {
    height: 57px;
}

.Watch-subhead {
    font-size: 21px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 11px;
    text-align: center;
}

.Watch-buttons {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.Watch-button1 {
    background-color: rgb(0, 113, 227);
    border: none;
    font-size: 14px;
    color: white;
    text-align: center;
    height: 36px;
    width: 104px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-right: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Watch-button1:hover {
    opacity: 0.9;
}

.Watch-button2 {
    border: none;
    font-size: 14px;
    color: rgb(0, 113, 227);
    text-align: center;
    height: 36px;
    width: 62px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-left: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Watch-button2:hover {
    background-color: rgb(0, 113, 227);
    color: white;
}

.Watch-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.MacBook-container {
    background-image: url(/Images/Pictures/MacBook_large.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: start;
    padding-bottom: 50px;
}

.MacBook-headline {
    color: black;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.MacBook-subhead {
    font-size: 21px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 11px;
    text-align: center;
    color: black;
}

.MacBook-buttons {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.MacBook-button1 {
    background-color: rgb(0, 113, 227);
    border: none;
    font-size: 14px;
    color: white;
    text-align: center;
    height: 36px;
    width: 104px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-right: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.MacBook-button1:hover {
    opacity: 0.9;
}

.MacBook-button2 {
    border: none;
    font-size: 14px;
    color: rgb(0, 113, 227);
    text-align: center;
    height: 36px;
    width: 62px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-left: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.MacBook-button2:hover {
    background-color: rgb(0, 113, 227);
    color: white;
}

.MacBook-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 58px;
}


.TradeIn-container {
    background-image: url(/Images/Pictures/tradein_large.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: start;
    flex-direction: column;
    align-items: center;
}

.TradeIn-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.TradeIn-logo img {
    height: 32px;
}

.TradeIn-subhead {
    font-size: 21px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 11px;
    text-align: center;
}

.TradeIn-button {
    background-color: rgb(0, 113, 227);
    border: none;
    font-size: 14px;
    color: white;
    text-align: center;
    height: 36px;
    width: 145px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-right: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 17px;
}

.TradeIn-button1:hover {
    opacity: 0.9;
}

.TradeIn-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.Card-container {
    background-image: url(/Images/Pictures/Card_large.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: start;
    flex-direction: column;
    align-items: center;
}

.Card-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 58px;
}

.Card-logo img {
    height: 33px;
}

.Card-subhead {
    font-size: 21px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 11px;
    text-align: center;
}

.Card-buttons {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.Card-button1 {
    background-color: rgb(0, 113, 227);
    border: none;
    font-size: 14px;
    color: white;
    text-align: center;
    height: 36px;
    width: 104px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-right: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Card-button1:hover {
    opacity: 0.9;
}

.Card-button2 {
    border: none;
    font-size: 14px;
    color: rgb(0, 113, 227);
    text-align: center;
    height: 36px;
    width: 99px;
    border-radius: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 113, 227);
    margin-left: 5px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Card-button2:hover {
    background-color: rgb(0, 113, 227);
    color: white;
}

.Card-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


@media screen and (max-width: 1068px) and (min-width: 735px) {
    .image-container {
        background-image: url(/Images/Pictures/gift_medium.jpg);
        height: 720px;
    }

    .headline {
        font-size: 48px;
        height: 104px;
    }

    .subhead {
        font-size: 24px;
    }

    .iphonepro-image-container {
        background-image: url(/Images/Pictures/iphone_medium.jpg);
        height: 720px;
    }

    .headline2-3 {
        font-size: 48px;
    }

    .subhead2-3 {
        font-size: 24px;
    }

    .iphone-image-container {
        background-image: url(/Images/Pictures/blue-iphone_medium.jpg);
        height: 720px;
    }

    .grid-container {
        grid-template-rows: 490px 490px 490px;
    }

    .iPad-container {
        background-image: url(/Images/Pictures/iPad_medium.jpg);
    }

    .iPad-logo {
        margin-top: 47px;
    }

    .iPad-logo img {
        height: 26px;
    }

    .iPad-subhead {
        font-size: 19px;
    }

    .iPad_bottom-content {
        margin-bottom: 45px;
    }

    .AirPods-container {
        background-image: url(/Images/Pictures/AirPods_medium.jpg);
    }

    .Watch-container {
        background-image: url(/Images/Pictures/Watch_medium.jpg);
    }

    .Watch-logo {
        margin-top: 47px;
    }

    .Watch-logo img {
        height: 45px;
    }

    .Watch-subhead {
        font-size: 19px;
    }

    .MacBook-container {
        background-image: url(/Images/Pictures/MacBook_medium.jpg);
    }

    .MacBook-headline {
        font-size: 32px;
        height: 36px;
    }

    .MacBook-content {
        margin-top: 47px;
    }

    .TradeIn-container {
        background-image: url(/Images/Pictures/TradeIn_medium.jpg);
    }

    .TradeIn-logo {
        margin-top: 47px;
    }

    .TradeIn-logo img {
        height: 26px;
    }

    .TradeIn-subhead {
        font-size: 19px;
    }

    .Card-container {
        background-image: url(/Images/Pictures/Card_medium.jpg);
    }

    .Card-logo {
        margin-top: 47px;
    }

    .Card-logo img {
        height: 26px;
    }

    .Card-subhead {
        font-size: 19px;
    }
}

@media screen and (max-width: 834px) {
    .header ul .main-list-element {
        display: none;
    }
}