* {
    box-sizing: border-box;
    max-width: 100%;
}

.header {
    display: flex;
    height: 44px;
    justify-content: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(1.8) blur(20px)
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 996px;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}